---
import PrimaryLayout from '../layouts/Primary.astro';
---
<PrimaryLayout>
<div id="main-screen-div" class="p-4 md:p-8">                
  <h1 class="text-lg md:text-xl py-2">Welcome weary traveler</h1>
  <p class="text-sm md:text-base">Use the tool below to find more information about the creatures you encounter in 
    <a href="https://www.aidedd.org/dnd-filters/monsters.php" class="font-serif text-red-800 hover:text-red-500">D&D 5e.</a>
  </p>
  <div class="search-container flex flex-col py-2">
      <input type="text" id="monsterInput" class="py-2 px-4 w-full" placeholder="Enter a monster name" />
      <button id="searchButton" class="bg-gray-200 hover:bg-blue-400 font-bold py-2 my-4 px-4 rounded">
          Search
      </button>
      <div id="monsterResult" class="monster-result py-2">
          <!-- Results will be displayed here -->
      </div>
  </div>
</div>
</PrimaryLayout>
<script>

const monsterInput = document.getElementById("monsterInput") as HTMLInputElement;
const searchButton = document.getElementById("searchButton") as HTMLButtonElement;
const monsterResult = document.getElementById("monsterResult") as HTMLDivElement;

searchButton.addEventListener("click", () => {
  const monsterName = monsterInput.value.toLowerCase();
  if (monsterName) {
    searchMonster(monsterName);
  } else {
    monsterResult.innerHTML = "Please enter a monster name, like 'goblin'.";
  }
});

async function searchMonster(monsterName: string) {
  // loading message
  monsterResult.innerHTML = "Searching...";
  // search for the monster
  const monsterNameFormatted: string = monsterName.toLowerCase().replace(" ", "-");

  try {
    const response: Response = await fetch(
      `https://www.dnd5eapi.co/api/monsters/${monsterNameFormatted}`
    );
    if (!response.ok) {
      throw new Error(`${response.status} ${response.statusText}`);
    }
    const data = await response.json();
    console.log(data);
    // display the moster
    // TODO make this more dynamic and a seperate function
    monsterResult.innerHTML = `
    <div class="m-2 font-mono">
      <h1>${data.name}</h1>
      <p><strong>Type:</strong> ${data.type}</p>
      ${data.subtype ? `<p><strong>Subtype:</strong> ${data.subtype}</p>` : ''}
      <p><strong>Size:</strong> ${data.size}</p>
      <p><strong>Alignment:</strong> ${data.alignment}</p>
      <p><strong>Health:</strong> ${data.hit_points}</p>
      <p><strong>Languages:</strong> ${data.languages}</p>
      <p><strong>Challenge Rating:</strong> ${data.challenge_rating}</p>
      ${ data.image ? `<img src="https://www.dnd5eapi.co${data.image}">` : '' }      
    </div>
    `;    
  } catch (error) { 
    console.log(error);
    monsterResult.innerHTML = `Monster not found, please try again with a 
    different monster or different name for the same monster.`;
  }
}
</script>