---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
const {frontmatter} = Astro.props;
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="../../public/sunlogo.ico" type="ico">
        <title>Tomtropolis</title>
        <!-- Tailwind CSS -->
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">        
        <!-- font awesome for icons and such-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
        <!-- google font-->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fragment+Mono">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Cairo+Play">
    </head>
	<body class="bg-gradient-to-b">
        <div class="header-text">
            <Navbar />
        </div>
        <main class="blog-text">
            <div class="container mx-auto p-10">
                <div id="blog-post-header" class="p-6">
                    <h1 class="text-3xl font-bold text-gray-900 text-center mb-2">{frontmatter.title}</h1>
                    <h2 class="text-xl text-gray-700 text-center mb-1">{frontmatter.subtitle}</h2>
                    <h3 class="text-md text-gray-600 text-center mb-1">{frontmatter.date}</h3>
                    <h3 class="text-md text-gray-600 text-center">By {frontmatter.author}</h3>
                </div>                          
                <!-- main content goes here -->
                <slot />
                <!-- End of main content -->
            </div>
        </main>
        <div class="header-text">
            <Footer />
        </div>        
    </body>
</html>
<style is:global>
	/* Customize the background color and keyframes */

    .bg-gradient-to-b {
        background: linear-gradient(-45deg, #9ab3f5, #a0e5e4 ,#ffd166, #ff6b6b );
        background-size: 400% 400%;
        animation: gradient 20s ease infinite;
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

    /* Customize text color and font */

    .blog-text {
        color: #00021a;
        font-family: 'Fragment Mono';
    }

    .header-text {
        color: #00021a;
        font-family: 'Cairo Play';
    }

    h1 {
        font-weight: bold;
        font-size: x-large;
        line-height: 4;
    }

    h2 {
        font-weight: bold;
        font-size: large;
        line-height: 4;
    }

    h3 {
        font-weight: bold;
        font-size: medium;
        line-height: 3;
    }

    p {
        font-size: normal;
        line-height: 1.5;
    }

    .body-links a {
        color: #3f0abb;
    }

</style>
